body{
width: 1200px;
padding: 0;
margin: auto;
font-size: 14px;
background-color: #e3e3e3;
font-family: 'Anton', sans-serif;
font-family: 'Dongle', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

.container{
 display: flex;
 position: relative;
 justify-content: center;
 flex-direction: row;
 margin-top: 40px;
 box-shadow: rgba(0,0,0,0.4) 0px 5px 15px;
}

.main-content{
    width: 70vw;
    height: 1300px;
    background-color:#fff; 
    color:#1c1a1a;
}

.photo{
    position: relative;
    left: 7vw;
    margin-top: 50px;
    width: 370px;
    height: 370px;
    border: 10px solid #1c1a1a;
    border-radius: 50%;
    z-index: 2;
}

.name{
    position: relative;
    width: 71.7vh;
    height: 13vh;
    padding: 40px 0px 0px 115px;
    left: 47.3vh;
    top: -35vh;
    background-color:#FB6D3A;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    font-style: italic;
}

.speciality{
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

.work{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0vh;
}
.projects-title{
    display: flex;
    justify-content: center;
    height: 80px;
    line-height: 1.5em;
    margin: -10vh 5vh 6vh 5vh;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    background-color: #1c1a1a;
    border-radius: 3px;
}

.work-item{
    width: 270px;
    height: 100px;
    background-color: #1c1a1a;
    margin: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 3em;
    border: 6px solid #FB6D3A;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
    
    
}

.sidebar{
    width: 31vw;
    height: 1300px;;
    color: #fff;
    background-color: #1c1a1a;
}

.sidebar h3{
    font-weight: 700;
}

.contacts,
.tech-skills,
.education {
    margin-left: 40px;
    margin-bottom: 60px;
}

.contacts {
    margin-top: 50vh;
}

.sidebar-title{
    color: #fff;
    font: weight 700px;;
    font-size: 35px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}

.tech-skills-list{
    color: #fff;
    padding: 0px;
    margin-left: 20px;
}



.tech-skills-text{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.academy{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #FB6D3A;
}

.title-education{
    color: #fff;
    font: weight 700px;;
    font-size: 35px;
    line-height: 27px;
    margin-bottom: 10px;
}

.organization{
    border-left: 2px solid #fff;
    margin-left: -40px;
    padding-left: 5px;
}

.contact-icons{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#FB6D3A ;
    height: 65px;
    }
    
    .icon {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 20px;
    }

    
.checked {
    color: #FB6D3A;
  }
